.component-container{
    width: 80%;
}

.shelf-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}

.test-image{
    border: 1px solid white;
    width: 75px;
    height: 75px;
}

.shelf-item-image{
    border: 1px solid white;
    width: 75px;
    height: 75px;
}

.shelf-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

hr{
    width: 100%;
    border: 1px solid white;
    margin-bottom: 3vh;
}

.shelf-title{
    font-size: 20px;
    margin-bottom: 1vh;
}

.shelf-item-name{
    text-align: center;
    font-size: .7em;
}

.shelf-item-subname{
    text-align: center;
    font-size: .5em;
    color: gray;
}

.shelf-item:hover{
    cursor: pointer;
}
